<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/navBar') %>
    <div class="container">
      <h1>Home Page <%= 4 + 5 + 1%></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellat
        sit facilis maiores voluptate doloremque, fugiat reiciendis error! Ipsam
        quam sint tempore tempora harum reprehenderit, deleniti nulla nemo
        obcaecati eligendi.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolor
        veritatis animi velit omnis molestiae quaerat quasi, atque architecto
        culpa qui, debitis dolores ab, vero officiis? Incidunt totam velit
        dolorem!
      </p>
    </div>
  </body>
</html>
