<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/navBar') %>
    <div class="container">
    <h1 class="display-1">Random Number</h1>

    <p class='display-6'>Your random number is: <%= numRand %></p>
    <p class="fs-2">It's an 
      <%= numRand%2 === 0 ? "even" : "odd" %>
      number!
    </p>
  </div>
</html>
